.hero-banner {
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: var(--nhexa-white);
}

.hero-content {
  width: 100%;
  padding: 8rem;
  padding-inline: 2rem;
  display: flex;
}

@media (max-width: 1080px) {
  .hero-content {
    padding-inline: 1rem;
  }
}

.section-left {
  width: 100%;
}

.section-right {
  width: 100%;
  min-height: 300px;
  display: flex;
  align-items: center;
}

.color-white {
  color: var(--nhexa-white);
}

.featured {
  background: linear-gradient(90deg, var(--primary-color) 0%, #ec76ec 50%, var(--primary-color) 100%);
  background-size: 200% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-animation 3s ease infinite alternate;
}

.bold {
  font-weight: 600;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

@media (max-width: 1080px) {
  .hero-content {
    flex-direction: column;
  }
}