.nav-container {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 2000px;
  display: flex;
  position: relative;
  justify-content: center;
}

.menu-nav-desktop {
  width: 100%;
}

@media (max-width: 1080px) {
  .menu-nav-desktop {
    display: none;
  }

  .nav-container {
    position: fixed;
    z-index: 9;
    height: auto;
    top: 0;
    left: 0;
    background-color: var(--components-background);
  }
}