.container-menu-desk {
  display: flex;
  justify-content: center;
  width: 100%;

  .inner-container {
    padding: .5rem;
    padding-inline: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    max-width: 2000px;
  }
}

.ul-menu-desktop {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  background: var(--secondary-semitransparent-background-color);
  backdrop-filter: blur(10px);
  border-radius: 1rem;
  overflow: hidden;
}

.ul-search {
  margin: 0;
  padding: 0;
  display: flex;
  background: var(--secondary-semitransparent-background-color);
  backdrop-filter: blur(10px);
  border-radius: 1rem;
  overflow: hidden;

  li {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;

    input {
      width: 100%;
      border: none;
      padding-inline: 1rem;
      background: transparent;

      &:focus, &:focus-visible {
        border: none;
        outline: none;
      }
    }

    button {
      border: none;
      background-color: transparent;
    }
  }

}

.lateral-menu-link {
  padding: 1rem;
  padding-inline: 2rem;
  transition-duration: .4s;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-wrap: nowrap;

  &:hover {
    background-color: var(--primary-hover-color);
  }
}